/* Custom scrollbar-hide utility */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  /* In your CSS file */
.truncate-3-words {
    display: inline-block;
    max-width: 15em; /* Adjust this for about 3 words */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }